.navbar-brand {
    background-color: #f7d668;
    color: white;
}

/* body, html { 
    height: 100%;
  } */
  .bg {
    /* The image used */
    background-image: url("./bg2.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .containerbgcolor {
      background-color: white;
      width: 50%;
      height: 30%;   
  }

  .wrapcontainer {
      width:100%;
  }

  .teal-text {
      color: #f7d668;
  }


#page-content {
  flex: 1 0 auto;
  background-color: #f7d668;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

#footerdiv {
  background:#f7d668;
}

.caption
{
    background-color: #f7d668;
    position: absolute;
    top: 60%;
    bottom: 50%;
    width: 100%;
    color: white;
    text-align:center;
    height: 30%;
}

.holder {
    position: relative;
    display: inline-block;
}

.btn-primary {
    background-color:#f7d668;
    border:#f7d668;
}

.btn-primary:hover {
    
    background-color: #f7d668;
    border:#f7d668;
}

a {
  color: black;
}
body,html {
  height:100%;
}

.footerstyle {
  clear:both;
}